name: Java CI with Maven

on:
    push:
        tags:
            - "back2.*"
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout código
                uses: actions/checkout@v4

            - name: Mostrar información del tag (debug)
              run: |
                    echo "GITHUB_REF: $GITHUB_REF"
                    echo "GITHUB_REF_NAME: $GITHUB_REF_NAME"
                    echo "GITHUB_SHA: $GITHUB_SHA"

            - name: Set up JDK 21
              uses: actions/setup-java@v4
              with:
                  java-version: "21"
                  distribution: "temurin"
                  cache: maven

            - name: Build with Maven
              run: mvn -B package --file pom.xml

            - name: Upload JAR artifact
              uses: actions/upload-artifact@v4
              with:
                  name: todo-app-${{ github.ref_name }}
                  path: target/*.jar
                  retention-days: 30

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3
              with:
                  platforms: linux/amd64
                  install: true

            - name: Build Docker image
              run: |
                  docker buildx build \
                    --platform linux/amd64 \
                    -t todo-back-todo:${{ github.ref_name }} \
                    -t todo-back-todo:latest \
                    --load .
